:root {
    /* colors */
    --warm-black: #160c00;
    --accent-01: #f0cde4;
    /* transitions */
    --menu-transition: all 0.4s ease-in-out;
    --link-transition: 90ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    padding: 30px;
    background-color: var(--warm-black);
}

h1 {
    cursor: default;
    font-family: fira-sans, sans-serif;
    font-weight: 900;
    font-size: 26vw;
    line-height: 22vw;
    color: var(--warm-black);
}

p {
    font-size: 18px;
    font-weight: 500;
    color: var(--warm-black);
}

/* links */

.main_nav_link {
    cursor: pointer;
    padding: 20px 5px 0 5px;
    width: 300px;
    font-size: 75px;
    line-height: 80px;
    font-weight: 800;
    text-decoration: none;
    color: var(--warm-black);
    background-color: #fff;
    transition: var(--link-transition);
}

.main_nav_link:hover {
    background-color: var(--accent-01);
    transition: var(--link-transition);
}

.additional_nav_link {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    transition: var(--link-transition);
}

.additional_nav_link:hover {
    color: var(--accent-01);
    transition: var(--link-transition);
}

.social_links_container {
    display: flex;
    column-gap: 10px;
}

.social_links {
    width: 22px;
    aspect-ratio: 1/1;
}

.nav_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--warm-black);
}

.inner_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #fff 6px solid;
}

.inner_circle:hover {
    border: var(--accent-01) 6px solid;
}

.menu_closed {
    position: fixed;
    top: 0;
    left: 47%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    max-width: 700px;
    height: 0;
    padding: 15px;
    background-color: var(--warm-black);
    opacity: 0;
    pointer-events: none;
    transition: var(--menu-transition);
}

.menu_open {
    position: fixed;
    top: 0;
    left: 47%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    max-width: 700px;
    height: 80vh;
    max-height: 900px;
    padding: 90px 50px 0 50px;
    background-color: var(--warm-black);
    opacity: 1;
    pointer-events: all;
    transition: var(--menu-transition);
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 40px;
}

.additional_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    row-gap: 15px;
    padding-bottom: 5px;
    color: #fff;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer_links {
    display: flex;
    column-gap: 100px;
}

.footer_p {
    color: #fff;
}

.footer_image {
    height: 35px;
    object-fit: contain;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
