:root {
    /* colors */
    --warm-black: #160c00;
    --accent-01: #00fff7;
    --modal-bg: rgba(255, 255, 255, 0.9);
    /* transitions */
    --menu-transition: all 0.4s ease-in-out;
    --link-transition: 190ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

footer {
    display: flex;
    justify-content: center;
    z-index: 300;
    width: 100%;
    padding: 30px;
    background-color: var(--warm-black);
}

menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    cursor: default;
    font-family: fira-sans, sans-serif;
    font-weight: 900;
    font-size: 26vw;
    line-height: 22vw;
    color: #fff;
    /* text-shadow: 10px 10px 0 #000; */
    /* color: var(--warm-black); */
}

h2 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 8px;
    text-decoration-color: var(--warm-black);
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
    color: var(--warm-black);
}

a {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--accent-01);
    color: var(--warm-black);
    transition: var(--link-transition);
}

a:hover {
    color: var(--warm-black);
    text-decoration-color: var(--warm-black);
    transition: var(--link-transition);
}

p {
    margin: 0 2px;
    font-size: 18px;
    font-weight: 500;
    color: var(--warm-black);
}

/* links */

.logo_link {
    text-decoration: none;
}

.main_nav_link {
    cursor: pointer;
    padding: 15px 5px 0 5px;
    width: 300px;
    font-size: 70px;
    line-height: 85px;
    font-weight: 800;
    text-decoration: none;
    color: var(--warm-black);
    background-color: #fff;
    transition: var(--link-transition);
}

.main_nav_link:hover {
    background-color: var(--accent-01);
    transition: var(--link-transition);
}

.additional_nav_link {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    transition: var(--link-transition);
}

.additional_nav_link:hover {
    color: var(--accent-01);
    transition: var(--link-transition);
}

.social_links_container {
    display: flex;
    column-gap: 10px;
}

.social_links {
    margin-top: 5px;
    transition: var(--link-transition);
}

.social_links:hover {
    margin-top: 0;
    transition: var(--link-transition);
}

.work_link {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 8px;
    text-decoration-color: var(--accent-01);
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
    color: var(--warm-black);
    transition: var(--link-transition);
}

.work_link:hover {
    text-decoration-color: var(--warm-black);
    transition: var(--link-transition);
}

/* navigation and menu */

.nav_wrapper_transparent {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    transition: var(--link-transition);
}

.nav_wrapper_solid {
    z-index: 2000;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    transition: var(--link-transition);
}

.nav_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: var(--warm-black);
}

.menu_button_mobile {
    display: none;
}

.inner_circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: var(--accent-01) 9px solid;
}

.inner_circle:hover {
    border: var(--accent-01) 6px solid;
}

.menu_closed {
    position: fixed;
    top: 0;
    left: 47%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    max-width: 700px;
    height: 0;
    max-height: 900px;
    padding: 15px;
    background-color: var(--warm-black);
    opacity: 0;
    pointer-events: none;
    transition: var(--menu-transition);
}

.menu_open {
    position: fixed;
    top: 0;
    left: 47%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    max-width: 700px;
    height: 80vh;
    min-height: 750px;
    max-height: 900px;
    padding: 90px 50px 0 50px;
    background-color: var(--warm-black);
    /* box-shadow: 10px 10px 0 var(--accent-01); */
    opacity: 1;
    pointer-events: all;
    transition: var(--menu-transition);
}

.main_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 40px;
}

.additional_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    height: 460px;
    row-gap: 15px;
    padding-bottom: 5px;
    color: #fff;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.footer_links_container {
    display: flex;
    column-gap: 40px;
}

.footer_links {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
}

.footer_links:hover {
    color: var(--accent-01);
}

.footer_p {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.footer_image {
    height: 35px;
    object-fit: contain;
}

/* elements */

.logo {
    font-size: 24px;
    font-weight: 700;
    width: 200px;
    padding-top: 11px;
}

.breadcrumb {
    display: inline;
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    width: 200px;
    padding-top: 5px;
}

.imprint_details {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    width: 1200px;
}

.contributors_container {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    width: 100%;
}

.sponsors_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 50px;
    width: 100%;
}

.contributor {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.contributor_image {
    position: relative;
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.works_list {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    width: 800px;
    min-height: 100vh;
    padding-top: 300px;
}

.work_entry {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 500px;
}

.main_image_container {
    position: relative;
    width: 1400px;
    height: 820px;
    object-fit: cover;
}

.works_main {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    width: 1200px;
}

.work_details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 700px;
}

.work_dates {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 350px;
}

.link_container {
    display: flex;
    column-gap: 15px;
    margin-left: 50px;
}

.image_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    width: 1400px;
}

.grid_item {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.grid_shader {
    z-index: 2;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-01);
    opacity: 0;
    transition: var(--link-transition);
    cursor: pointer;
}

.grid_shader:hover {
    opacity: 0.5;
}

.credits_wrapper {
    display: flex;
    width: 1200px;
}

.credits {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 700px;
}

.credits_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.credits_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.credit_name {
    color: var(--warm-black);
}

.lightbox_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 50px;
    width: 1400px;
    height: 90vh;
    pointer-events: all;
}

.slider_image_wrapper {
    width: 1400px;
    height: 80vh;
    max-height: 800px;
    object-fit: contain;
}

.carousel-control-next {
    width: 50px;
}

.carousel-control-prev {
    width: 50px;
}

/* spacers, dummies */

.modal_bg_hidden {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-bg);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: var(--menu-transition);
}

.modal_bg_shown {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-bg);
    z-index: 100;
    opacity: 1;
    pointer-events: all;
    transition: var(--menu-transition);
}

.close_button {
    margin-right: 20px;
    cursor: pointer;
}

.spacer_100 {
    height: 100px;
    /* width: 100%; */
}

.spacer_50_percent {
    height: 50vh;
    /* width: 100%; */
}

@media screen and (max-width: 1400px) {
    .main_image_container {
        position: relative;
        width: 100%;
        height: 70vh;
    }

    .image_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
        width: 925px;
    }

    .lightbox_slider {
        width: 925px;
    }

    .slider_image_wrapper {
        width: 925px;
        /* height: 670px; */
    }
}

@media screen and (max-width: 1200px) {
    header {
        width: 100%;
    }

    .nav_bar {
        width: 100%;
    }

    .nav_wrapper_transparent {
        width: 100%;
        padding: 0;
        padding: 20px 5%;
    }

    .nav_wrapper_solid {
        width: 100%;
        padding: 0;
        padding: 20px 5%;
    }

    .logo {
        width: auto;
    }
    .breadcrumb {
        width: auto;
    }

    .menu_button {
        display: none;
    }

    .menu_button_mobile {
        position: fixed;
        right: 45px;
        top: 75vh;
        /* bottom: 25px; */
        width: 70px;
        height: 70px;
        border-radius: 50%;
        /* border: 5px solid var(--warm-black); */
        background-color: var(--warm-black);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner_circle {
        width: 42px;
        height: 42px;
        border: var(--accent-01) 11px solid;
    }

    .menu_icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    menu {
        flex-direction: column;
        row-gap: 50px;
        width: 90%;
    }

    .main_nav {
        align-self: flex-start;
        row-gap: 20px;
        width: 80%;
    }

    .main_nav_link {
        width: 100%;
    }

    .menu_closed {
        justify-content: center;
        align-items: center;
        right: -100%;
        height: 100vh;
        overflow: hidden;
    }

    .menu_open {
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .additional_nav {
        height: auto;
        align-items: self-start;
        align-self: self-start;
        padding-left: 10px;
    }
    footer {
        align-items: center;
        height: 100vh;
        padding: 0 5%;
    }

    .footer_content {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 50px;
        max-width: none;
    }

    .footer_links_container {
        flex-direction: column;
        row-gap: 10px;
    }

    .footer_image {
        margin-left: 3px;
    }

    .works_list {
        width: 90%;
        padding-top: 150px;
    }

    .work_entry {
        width: 100%;
        max-width: 500px;
    }

    .works_main {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width: 90%;
    }

    .work_details {
        width: 100%;
    }

    .link_container {
        margin-left: 5px;
    }

    .credits_wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .credits {
        width: 90%;
    }

    .credits_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 35px;
        width: 100%;
    }

    .credits_list_item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .credit_name {
        font-weight: 800;
        /* text-decoration: underline; */
    }

    .imprint_details {
        display: flex;
        flex-direction: column;
        row-gap: 75px;
        width: 90vw;
    }

    .contributors_container {
        flex-direction: column;
        row-gap: 75px;
    }

    .sponsors_container {
        flex-direction: column;
        align-items: center;
        row-gap: 75px;
        width: 90vw;
    }
}

@media screen and (max-width: 925px) {
    .image_grid {
        grid-template-columns: 1fr;
        row-gap: 25px;
        width: 100%;
    }

    .grid_shader {
        display: none;
    }

    .modal_bg_hidden {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .menu_open {
        left: 0;
    }
}
